.card {
  margin: 20px;
  width: 18rem;
  border-radius: 20px;
}

.card-title {
  margin-bottom: 15px;
  color: black;
  font-size: 25px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.btn{
  border-radius: 8px;
  font-weight: 500;
}

